html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
    
  }

  #questions {
    position: relative;
    z-index: 1;
  }
  .footer {
    flex-shrink: 0;
  }

  /* ##########Parallax############# */
  .bg-img-1, .bg-img-2, .bg-img-3 {
    position: relative;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .bg-img-1 {
    background-image: url("../images/tree2.jpg");
    min-height: 900px;
  }

  .bg-img-2 {
    background-image: url("../images/tree.jpg"); 
    min-height: 400px;
  }

  .bg-img-3 {
    background-image: url("../images/tree3.jpg"); 
    min-height: 800px;
  }